body {
    font-family: Arial, Verdana;
    background-color: #000000;
    color: #FFFFFF;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
h1 {
    text-align: center;
    font-size: 42px;
    padding: 15px; 
}
h2{
    font-size: 30px;
    color: #0D0D0D;
}
.blue h2{
    color: #C4C4C4;
}
.introduction {
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
  }
.red {
    background-color: #FF0000;
    text-align: right;
    margin-left: 50px;
    border-top: 2px;
    border-right: 5px;
  }
.blue{
    background-color: #0000FF;
    text-align: left;
    margin-right: 50px;
    border-bottom: 2px;
    border-left: 5px;
    color: #C4C4C4;
}
.yellow{
    background-color: #FFFF00;
    text-align: right;
    margin-left: 50px;
    border-top: 2px;
    border-right: 5px;
    color: #707070
}
.green{
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-bottom: 2px;
    border-left: 5px;
}
p{
    font: 24px;
    padding-top: 10px;
    padding-left: 10px;
}
img{
    width: 250px; 
    margin: auto;
    display: block;
    border-style: dashed;
    border-color: #FFFFFF;
    border-width: 10px;
}
div{
    min-height: 125px;
    padding: 20px;
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 3px;
}
footer{
    background: #000000;
    background: linear-gradient(90deg, #000000 0%, #0000ff 25%, #0066ff 70%, #000000 100%);
    border-color: #FFFFFF;
    border-width: 5px;
    border-style: solid;
}
footer p{
    font-size: 20px;
    text-align: right;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
}